.git
.gitignore
.next
.source
node_modules

.env
.env.*
!.env.example

coverage
build
out
*.tsbuildinfo

.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile*
compose*.yaml
compose*.yml
README.md
